* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}
.main {
  background-color: #4c5926;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  height: 19vw;
  width: 33vw;
  background-image: url(img/trans-snake.webp);
  background-size: cover;
  position: absolute;
  right: 0;
  bottom: 0;
}
h1 {
  font-family: "Quintessential", serif;
  font-size: 3rem;
  color: #afd885;
  position: absolute;
  top: 0;
}
.board {
  height: 33vw;
  width: 36vw;
  padding: 0.2rem;
  background: linear-gradient(#afd885, #f4f0bb);
  box-shadow: -1rem 1rem 1rem rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  position: absolute;
  top: 85px;
  display: grid;
  grid-template-rows: repeat(20, 1fr);
  grid-template-columns: repeat(20, 1fr);
}
.snake {
  background: linear-gradient(rgb(197, 52, 52), rgb(66, 14, 14));
  border-radius: 20%;
}
#snake-head0 {
  background: linear-gradient(rgb(107, 36, 54), rgb(40, 14, 14));
}
.food {
  background: linear-gradient(rgb(63, 80, 229), rgb(18, 29, 83));
  border-radius: 50%;
}
.btns {
  width: 36vw;
  height: 4.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 20px;
}
.btn {
  height: 100%;
  width: 30%;
  border: none;
  background: linear-gradient(#afd885, #f4f0bb);
  color: #4c5926;
  font-family: "Quintessential", serif;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  border-radius: 1rem;
  box-shadow: -0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
#replay:hover {
  opacity: 0.6;
  transform: translateY(-3px);
}
#pause:hover {
  opacity: 0.6;
  transform: translateY(-3px);
}

/* --------Responsive--------- */

@media only screen and (max-width: 1500px) {
  body {
    overflow: hidden;
  }
  h1 {
    font-size: 2.8rem;
    top: 15px;
  }
  .board {
    top: 120px;
  }
  .btns {
    bottom: 50px;
    height: 5vw;
  }
  .btn {
    font-size: 24px;
  }
}
@media only screen and (max-width: 1024px) {
  body {
    overflow: hidden;
  }
  h1 {
    font-size: 2.5rem;
    top: 18px;
  }
  .board {
    top: 130px;
  }
  .btns {
    bottom: 40px;
    height: 5vw;
  }
  .btn {
    font-size: 20px;
  }
}
